@page "/Education"
@inherits EducationBase

<section class="resume-section" id="education">
	<div class="resume-section-content">
		<h2 class="mb-5">Education</h2>
		@foreach (var schoolRecord in schoolRecords)
		{
		  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
		   <div class="flex-grow-1">
			<h3 class="mb-0">@schoolRecord.Name</h3>
			<div class="subheading mb-3">@schoolRecord.Degree</div>
			<div>Computer Science - Web Development Track</div>
		   </div>
		   <div class="flex-shrink-0"><span class="text-primary">@schoolRecord.StartDate.ToString("MM/yyyy") - @schoolRecord.EndDate.ToString("MM/yyyy")</span></div>
		  </div>
		}
 </div>
</section>