@page "/"

<!-- Page Content-->
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">
			Adam
			<span class="text-primary">Millner</span>
		</h1>
		<div class="subheading mb-5">
			Haslet, TX 76052 | <a href="tel:701-587-1211">(701)-587-1211</a> |
			<a href="mailto:adam.millner@gmail.com">adam.millner@gmail.com</a>
		</div>
		<p class="lead mb-5">
			I am an experienced Software Developer and Technical Consultant.
		</p>
		<div class="social-icons">
			<a class="social-icon" href="https://www.linkedin.com/in/adammillner/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
			<a class="social-icon" href="https://github.com/millner09" target="_blank"><i class="fab fa-github"></i></a>
		</div>
	</div>
</section>
