@page "/interests"
<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>I am a Software Engineer with experience in C#, C++, and JavaScript and I love to code! I have a broad background in coding from doing full-stack web development to writing code that simulates a payload on an autonomous system. This broad background gives me the ability to tackle problems with a different mindset because I've dealt with and solved problems in various domains.</p>
        <p>I enjoy tinkering with different programming languages, frameworks, libraries, and tools outside of work. It's not uncommon for me to spend some of my weekend writing web APIs for little side projects/ideas, messing with a client-side JavaScript library for interacting with said APIs, or writing a Discord bot to mess with my friends.</p>
        <p>I am currently interested in learning more about how to design applications with the cloud in mind. Whether that's writing serverless functions, creating containerized applications using Docker and deploying them via a container orchestrator, or breaking applications down into microservices.</p>
    </div>
</section>